@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f1f3f6;
}

/* :root {
--primary-color: #2874f0;
} var(--primary-color);*/

.container {
	padding: 0 8px;
}

/* header */
/* header */
header {
	background-color: #2874f0;
	height: 56px;
	top: 0;
	position: sticky;
	z-index: 100;
}


header .nav-container {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	height: 100%;
	max-width: 1248px;
	margin: 0 auto;
	width: 86%;
}


header .nav-container .logo {
	display: flex;
	min-width: 137px;
	justify-content: flex-end;
}

header .nav-container .logo img {
	width: 68px;
}

.plus-logo {
	text-align: right;
	font-size: 11px;
}

a {
	text-decoration: none;
}

header .search {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 12px;
}

header .search .search-container {
	width: 466px;
	height: 36px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
	display: flex;
}

header .search .search-container input {
	width: calc(100% - 32px);
	padding: 16px;
	outline: none;
	border: none;
}


.search-icon {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	border: 1px solid #fff;
	background-color: #fff;
	height: 36px;
	width: 44px;
	border-radius: 2px;
	cursor: pointer;
	padding: 4px 12px 0 8px;
}

.plus-logo-img {
	width: 10px;
}

header .login {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 20px;
	cursor: pointer;
}

header .login button {
	width: 122px;
	padding: 5px 40px;
	font-size: 16px;
	font-weight: 600;
	color: #2874f0;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	cursor: pointer;
}

header .become-seller {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 20px;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.more-mobile-responsive-img {
	width: 19%
}

.more-mobile-responsive {
	display: none;
}

header .more {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 20px;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

header .more {
	margin-left: 8px;

}

.more-icon {
	transition: -webkit-transform .1s;
	transition: transform .1s;
	transition: transform .1s, -webkit-transform .1s;
}

.more-icon {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	margin: 1px 0 0 8px;
}

.more-icon {
	transform: rotate(0deg) rotate(-90deg);
	transition: transform .1s
}

.underline {
	font-weight: 400;
}

.more-container ul li {
	list-style: none;
	margin: 0 auto;
	display: inline;
	/* padding: 0 30px; */
	position: relative;
	text-decoration: none;
	text-align: left;
}

.more-container li a {
	color: black;
}

.more-container li:hover {
	cursor: pointer;
}

.more-container ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;
	left: 0;
	display: none;
	background: white;
}

.more-container ul li:hover>ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	min-width: 250px;
}

.more-container .underline {
	clear: both;
	width: 84%;
	text-align: left;
	padding: 20px;
	border-bottom: #f4f4f4 solid;
}

.more-container .underline:hover {
	background-color: rgb(236, 236, 236);
	transition: all 0.3s ease;
}


.more-container ul li ul li a {
	transition: all 0.5s ease;
}


header .cart {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 20px;
	color: white;
}

header .cart {
	margin-right: 8px;
}

.cart-icon-path {
	fill: #fff;
}

.cart-icon {
	width: 16px;
	height: 16px;
	margin: 0 8px;
}

/*  __________________more icon header inside content____________ */
.menu-header-container-mobile {
	background-color: #2874f0;
	height: 48px;
}

.menu-header-content-mobile {
	font-size: 16px;
	font-weight: 500;
	display: flex;
	align-items: center;
	color: #f8fbfe;
}

.menu-header-content-mobile img {
	margin: 6px 20px;
}

.list-break-underline {
	border-bottom: 1px solid #e0e0e0;
}

/* ____________sub header section______________ */
.hide-in-desktop {
	background-color: #2874f0;
	position: sticky;
	height: 43px;
	display: none;
}

.sub-header-container {
	max-width: 414px;
	width: 100%;
	margin: 0 auto;
}

.search-container-for-mobile {
	display: flex;
	background-color: #fff;
	max-width: 95%;
	width: 100%;
	margin: 0 auto;
	border-radius: 4px;
}

.search-container-for-mobile input {
	width: calc(100% - 42px);
	padding: 10px 3px;
	border: none;
	border-radius: 4px;
}

.button-for-mobile {
	background-color: #fff;
}

.search-icon-for-mobile {
	width: 33px;
	background-color: #fff;
	border: none;
	outline: transparent;
	border-radius: 4px;
}

/* section 1 */
.section-1 {
	width: 100%;
	height: 42px;
	background-color: white;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
	margin-bottom: 8px;
}

.section-1-container {
	width: 1280px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 95%;

}

.section-1-item {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-size: 14px;
	font-weight: 500;
}

.section-1-item img {
	width: 64px;
	height: 64px;
}

/* _________________section 2 _________________*/

/* .section-2-item img {
		max-width: 200px;
		max-height: 200px;
	}

	.section-2-item-head {
		margin-top: 16px;
		font-size: 14px;
		font-weight: 500;
	} */
.section-2-container {
	display: flex;
	max-width: 1380px;
	margin: 0 auto;
}

.section-2-left {
	display: flex;
	flex-direction: column;
}

.mobile-deal-container {
	background-color: #fff;
}

.mobile-deal-img-container {
	padding: 16px 130px 16px 84px;
}

.mobile-deal-img-container img {
	width: 178%;
}

.mobile-deal-words-container {
	padding: 14px 16px;
	border-top: 1px solid #f0f0f0;
	color: #212121;
}

.mobile-deal-word-1 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
}

.mobile-deal-word-2 {
	font-size: 12px;
	max-height: 31px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	margin-top: 2px;
}

#home-sort-by {
	border-bottom: solid #f1f3f6 1.2px;
	margin-right: 20px;
}

.section-2-right {
	background-color: #fff;
	margin-left: 10px;
	width: 100%;
}

.sec-2-head-text-1 {
	font-size: 12px;
	display: inline-block;
	padding: 13px 0px 0px 10px;
}

.sec-2-head-text-a-link {
	max-width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	color: #878787;
}

.sec-2-head-text-svg {
	height: 7px;
	width: 20px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	vertical-align: middle;
}

.sec-2-head-text-svg-path {
	fill: #878787;
}

.mobile-to-motorola-container {
	padding: 6px 5px 4px 10px;
	display: block;
}

.mobile-to-motorola-a-container {
	clear: both;
	line-height: 1.45;

}

.mobile-to-motorola-container-1 a {
	color: #2874f0;
	font-size: 11.5px;
}

.sec-2-google-pixel-6 {
	font-weight: 500;
	font-size: 16px;
	margin-top: 5px;
	padding: 0 0 0 10px;
	display: inline-block;
}

.sec-2-showing-product {
	display: inline-block;
	margin-left: 10px;
	color: #878787;
	font-size: 12px;
}

.sec-2-sort-by-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	font-size: 13px;
}

.sec-2-sort-by {
	border-bottom: 2px solid transparent;
	display: inline-block;
	padding: 11px 0 4px;
	margin: 0 10px;
	font-weight: 500;
}

.sort-by-scroll-container{
	display: flex;
}
.popularity-to-newest-first-content-1 {
	color: #2874f0;
	cursor: default;
	border-bottom: 2px solid #2874f0;
	font-weight: 500;

}

.popularity-to-newest-first-content {
	padding: 11px 0 4px;
	margin: 0 10px;
	cursor: pointer;

}

.pixel-6-parent-container {
	display: flex;
}

.pixel-6-description {
	padding: 26px 0 0 0;
	width: 41%;
}

.pixel-6-img img {
	width: 100%;
	padding: 12px 0 0 31px;
}

.pixel-6-img {
	width: 23%;
	margin: 0 47px 0 0;
}

.pixel-chalk-128-gb {
	font-weight: 500;
	font-size: 18px;
	display: block;
	cursor: pointer;
}

.rating-container {
	margin-top: 6px;
}

.rating-4-3-container {
	position: relative;
}

.rating-24023-text {
	padding-left: 8px;
	font-weight: 500;
	color: #878787;
	font-size: 14px;
}

.rating-container {
	display: flex;
}

#rating-4-3-container {
	background-color: #388e3c;
	border-radius: 3px;
	color: #fff;
	line-height: normal;
	/* display: inline-block; */
	padding: 2px 4px 2px 6px;
	font-weight: 500;
	font-size: 13px;
	vertical-align: middle;
}

.list-container-6gb {
	margin-top: 13px;
}

.list-container-6gb .list-container-6gb-child {
	margin-top: 5px;
	color: #212121;
	line-height: 23px;
	display: table;
}

.list-container-6gb .list-container-6gb-child .list-6gb-content {
	display: table-row;
	padding-right: 8px;
}

.list-container-6gb li {
	list-style: none;
	font-size: 13px;
}

.list-container-6gb .list-container-6gb-child .list-6gb-content::before {
	content: "•";
	color: rgb(194, 194, 194);
	padding-right: 8px;
	display: table-cell;
	display: inline-block;

}

.pixel-6a-price-container {
	padding: 13px 0 0 0;
}

.price-6a-child-container-sub . {
	display: flex;
	flex-direction: column;
}


.price-6a-child-container-sub .price-6a-content {
	font-size: 25px;
	font-weight: 500;
	color: #212121;
}

.price-6a-content-4 {
	padding-top: 10px;
	margin-left: 0;
}

.price-6a-content-3 {
	text-decoration: line-through;
	font-size: 21px;
	color: #878787;
}

.price-6a-content-5 {
	color: #388e3c;
	font-size: 13px;
	letter-spacing: -.2px;
	font-weight: 500;
}

.price-6a-content-5,
.price-6a-content-3 {
	display: inline-block;
}

.assured-img-container {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding-bottom: 4px;
}

/* footer */
footer {
	margin-top: 14px;
	padding: 25px;
	text-align: center;
	font-size: 14px;
	color: #878787;
	background-color: #172337;
	;
}

.footer-container {
	max-width: 1248px;
	margin: 0 auto;
}

.footer-col1-col2 {
	display: flex;
}

.footer-row1-container {
	display: flex;
}

.footer-sub-col {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: #878787;
	min-width: 144px;
	margin: 10px;
}

.sub-col-head-footer {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 9px;
}

.footer-sub-col a {
	text-align: left;
	line-height: 2;
	color: #fff;
	display: block;
	font-weight: 400;
	font-size: 14px;
}

.mail-address-content {
	line-height: 1.5;
	color: #fff;
	display: block;
	font-weight: 400;
	font-size: 14px;
	min-width: 144px;
}

.mail-border {
	border-left: 1px solid #454d5e;
}

.mail-position {
	padding-left: 27px;
}
footer {
	margin-top: 14px;
	padding: 25px;
	text-align: center;
	font-size: 14px;
	color: #878787;
	background-color: #172337;
	;
}

.footer-container {
	max-width: 1248px;
	margin: 0 auto;
}

.footer-col1-col2 {
	display: flex;
}

.footer-row1-container {
	display: flex;
}

.footer-sub-col {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: #878787;
	min-width: 144px;
	margin: 10px;
}

.sub-col-head-footer {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 9px;
}

.footer-sub-col a {
	text-align: left;
	line-height: 2;
	color: #fff;
	display: block;
	font-weight: 400;
	font-size: 14px;
}

.mail-address-content {
	line-height: 1.5;
	color: #fff;
	display: block;
	font-weight: 400;
	font-size: 14px;
	min-width: 144px;
}

.mail-border {
	border-left: 1px solid #454d5e;
}

.mail-position {
	padding-left: 27px;
}

.footer-right-mail-and-address-container {
	display: flex;
}
.footer-right-container-of-address{
	display: flex;
}





@media screen and (max-width: 412px) {
	header .nav-container {
		max-width: 417px;
		width: 100%;
	}

	header .nav-container .logo {
		min-width: 123px;
	}

	header .search {
		display: none;
	}

	.plus-logo {
		font-size: 9px;
	}

	header {
		height: 53px;
	}

	.plus-logo-img {
		width: 7px;
	}

	header .login button {
		width: 76px;
		padding: 3px 6px;
		font-size: 14px;
		border-radius: 4px;
		position: absolute;
		right: 14px;
		bottom: 17px;
		z-index: -1;
	}

	header .login {
		margin: 0 9px;
		display: block;
	}

	/* ____________sub header section______________ */
	.hide-in-desktop {
		display: block;
	}

	.section-1-item img {
		width: 70px;
		height: 67px;
	}

	.section-1-item {
		font-size: 12px;
		text-align: center;
		padding: 0 10px;
	}

	.section-1 {
		height: 50px;
	}

	.section-1-container {
		width: 412px;
		max-width: 88%;
		overflow: scroll;
	}

	.section-1-container::-webkit-scrollbar {
		display: none;
	}
	.size-adjust-for-sub-header-mobile{
		min-width: 77px;
	}
	.footer-container {
		max-width: 412px;
		margin: 0 auto;
	}

	

	.mySlides img {
		height: 244px;
		object-fit: cover;
		width: 88%;
		min-width: 101%;
	}

	.prev,
	.next {
		display: none;
	}
/* ______________section 2 container google pixel 6a changes ______________ */
.container {
	padding: 0 0;
	overflow: unset;
}
.sort-by-scroll-container {
    display: flex;
    overflow: scroll;
}
.sort-by-scroll-container::-webkit-scrollbar {
	display: none;
}
.mobile-deal-container {
    display: none;
}
.mobile-to-motorola-container {
	display: none;
}
.section-2-head{
	display: none;
}
.pixel-6-parent-container {
    display: block;
}
.sec-2-sort-by {
    min-width: 44px;
}
.pixel-6-img img {
    width: 100%;
    padding: 0;
}
.pixel-6-img {
    margin: 0 auto;
	width: 56%;
}
.section-2-right {
    margin-left: 0px;
}
.price-high-low-min-width{
	min-width: 113px;
    width: 100%;
}

.pixel-6-description {
    width: 72%;
    margin: 0 auto;
}
.pixel-6a-price-container {
    padding: 13px  0 0 58px;
    margin: 0 auto;
    /* width: 73%; */
    display: inline-block;
}
.list-container-6gb li {
    font-size: 14px;
}
.price-6a-content-3 {
    font-size: 16px;
	padding-top: 4px;
}
.price-6a-child-container-sub .price-6a-content {
    font-size: 18px;
}
.assured-img-container img{
	width: 93%;
    height: 17px;
}
	.section-2-container {
    max-width: 412px;
    margin: 0 auto;
    display: block;
    width: 88%;
}
.section-2-container {
    padding: 0;
}
	.sec-3-sub-container {
		display: block;
	}

	.text-best-of-electronic {
		font-size: 18px;
		line-height: 1.2;
	}

	.btn-view-all button {
		padding: 6px 8px;
		font-size: 12px;
		margin-top: 16px;
		border-radius: 4px;
	}

	.text-best-of-elec-container {
		background-size: 90% 49%;
		padding: 33px 119px 119px;
		max-width: 99px;
		margin: 0px auto 19px;
	}

	.sec-3-container {
		margin-top: 5px;
	}

	.mini-slide-inner-content img {
		height: 85px;
		text-align: center;
	}


	.mini-slide-product-name {
		font-size: 14px;
		margin-top: 12px;
		width: 131%;
	}

	.mini-slide-product-price {
		font-size: 14px;
		padding-top: 4px;
		width: 200%;
	}

	.mini-slide-product-brand {
		padding-top: 1px;
		font-size: 14px;
		width: 165%;
	}

	.mini-slide-inner-content {
		padding: 9px 25px 0px;
		align-items: center;
	}

	.back,
	.front {
		top: 47%;
		padding: 17px 10px;
		font-size: 11px;
	}

	.mini-slide-img {
		width: 200%;
	}

	.mini-slide-inner-content img:hover {
		height: 95px;
	}

	.mini-slide-content {
		display: flex;
		overflow: scroll;

	}

	

	footer {
		margin-top: 5px;
		width: 100%;
		max-width: 412px;
		padding: 4px;
		font-size: 9px;
		box-sizing: border-box;

	}

	.sub-col-head-footer {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.footer-sub-col a {
		line-height: 1.5;
		font-size: 14px;
	}

	.footer-sub-col {
		min-width: 47.5%;
		margin: 11px 3px;
		box-sizing: border-box;
	}

	.mail-position {
		padding-left: 0;
	}

	.address-footer-p-text {
		width: 100px;
	}

	.address-footer-p-text {
		width: 100%;
		font-size: 14px;
	}

	.mail-border {
		border-left: 1px solid #454d5e;
	}

	header .become-seller {
		display: none;
	}

	.more-container ul li {
		display: none;
	}

	header .more {
		display: none;
	}

	.cart-icon {
		display: none;
	}

	header .cart {
		display: none;
	}

	.more-mobile-responsive {
		display: block;
	}

	.more-mobile-responsive ul {
		list-style: none;
	}

	#more-mobile-responsive-list {
		display: none;
		/* transition-property: display;
		transition-duration: 1s;
		transition-timing-function: ease-in-out;
		right: 0px;
		top: 44px; 
		transition: all 20s ease-in-out;
	}
	.more-mobile-responsive{
		transition: all 20s ease-in-out;*/
	}

	.more-mobile-responsive:hover #more-mobile-responsive-list {
		display: block;
	}

	.more-mobile-responsive-img {
		width: 24%;
		margin-left: 14px;
		position: absolute;
		left: -2px;
	}

	.mobile-flipkart-logo-and-menu {
		position: relative;
	}

	#more-mobile-responsive-list {
		position: absolute;
		color: #353535;
		background-color: #ffffff;
		width: 253%;
		list-style: none;
		height: 100vh;
		font-size: 14px;
		top: 0;
		left: 0;
		box-shadow: 0px 0px 203px 47px #25272c;
	}

	.list-container-of-menu-mobile {
		line-height: 2.5;
		text-align: left;
	}

	.list-content-responsive img {
		width: 15px;
		vertical-align: middle;
		margin: 0 12px;
	}

	.footer-right-mail-and-address-container {
		padding-left: 6px;
		border-left: 0;
		justify-content: space-between;
		display: flex;
	}

	.mail-border {
		border-left: none;
	}

	.footer-row1-container {
		display: block;
		padding: 0 20px;
	}
	.footer-right-container-of-address{
		display: block;
	}
}




/* ________________________________ new css import from flipkart__________ */
